.DS_Store
*.log
tmp/
log/
.env
.env.*
!.env.example
storage/
node_modules/
vendor/bundle/
.bundle/
.kamal/secrets*

# Ignore key files for decrypting credentials and more.
/config/*.key

/app/assets/builds/*
!/app/assets/builds/.keep
